@{
    ViewBag.Title = "Nature is your friend";
}


    <div id="dialogSales">
        <img src="~/image/sales.jpg" id="salesTime" />
        <img src="~/image/esc.jpg" id="escPoint" />
    </div>
    <div id="informationData">
        <img src="~/image/logo.png" id="logoCascina"/>
        <div id="reservation">
            <h2 class="heading2">Request a free estimate</h2>
            <div class="day">
                <form class="dataSelection">
                    <label for="datepicker">
                        Check- in<br />
                    </label>
                    <input type="text" name="checkDatein" id="datepicker" class="calendar"/><br />
                    <label for="dateRangepicker">
                        Check-out<br />
                    </label>
                    <input type="text" name="checkDateout" id="dateRangepicker" class="calendar"/><br />
                    <label for="numAdults">
                        Adults<br />
                    </label>
                    <input type="number" name="adults" min="1" max="20" id="numadults" /><br />
                    <label for="numChildren">
                        Children<br />
                    </label>
                    <input type="number" name="children" min="0" max="10" id="numchildren" /><br />
                    <label for="fullName">
                        Name<br />
                    </label>
                    <input type="text" name="firstname" value="" placeholder="Fullname" /><br />
                    <label for="emailAddress">
                        Email<br />
                    </label>
                    <input type="email" /><br />
                    <label for="phoneNumber">
                        Phone<br />
                    </label>
                    <input type="tel" /><br />
                    <label for="characters">
                        Request<br />
                    </label>
                    <textarea rows="8" cols="50" id="textarea"></textarea><br />
                    <label for="terms">
                        <input type="radio" name="accept" value="yes" />Agree with  Terms & Conditions<br />
                    </label>
                    <button type="submit" class="button">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div id="showImage">
        <img src="~/image/cascina.jpg" class="showMe" id="first" />
        <img src="~/image/interno.jpg" class="showMe" />
        <img src="~/image/esterno.jpeg" class="showMe" />
        <img src="~/image/evento.jpeg" class="showMe" />
        <img src="~/image/giochi.jpeg" class="showMe" />
        <img src="~/image/notte.jpeg" class="showMe" />
        <img src="~/image/pavone.jpg" class="showMe" />
        <img src="~/image/animali.jpeg" class="showMe" />
        <img src="~/image/arrowLeft.png" id="arrowLeft" class="clickMe" />
        <img src="~/image/arrowRight.png" id="arrowRight" class="clickMe" />
    </div>
    <div class="horses">
        <div id="availability">
            <h2 class="heading2" id="headHorse">A Funny Ride</h2>
            <div id="checkHorseRideDate">   
                <form class="dataSelection">
                            <label for="dateRideHorse">
                                Check 	availability<br />
                                <input type="text" name="checkDate" id="datepickerHorse" class="calendar" /> <br />
                            </label>
                    <div id="age">
                        <fieldset id="borderDesign">
                            <legend class="legend">Your age is:</legend>
                            <input type="radio" name="age" value="0-6" class="checkAge" /> <label for="0-6">0-6</label><br />
                            <input type="radio" name="age" value="7-15" class="checkAge" /> <label for="7-15">7-15</label><br />
                            <input type="radio" name="age" value="16-over" class="checkAge" /> <label for="16-Over5">16-Over</label>
                        </fieldset>
                        <button type="submit" id="submitDay" class="button disabled">Check</button>
                    </div>
                </form>
            </div>
        </div>
        <img src="~/image/pony.jpg" id="pony" class="showHorse" />
        <img src="~/image/medio.jpg" id="medio" class="showHorse" />
        <img src="~/image/grande.jpg" id="grande" class="showHorse" />
    </div>
    <div class="closingDays" title="Closing Days">
        <p>
            <strong>Remember!!!</strong> We are closed during these days:<br />
            <ul>
                <li>January 1st</li>
                <li>January 6th</li>
                <li>Easter day</li>
                <li>August 15th</li>
                <li>December 31st</li>
            </ul>
        </p>
    </div>
    <!--<script src="js/r.js" data-main="js/app"></script>-->
    <!--<script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery.js"></script>-->

@section scripts{
    <script src="~/Typescript/app.js"></script>
}
