body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/image/back_image.jpg);
    padding-top: 50px;
    padding-bottom: 20px;
    background-attachment: fixed;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#informationData {
    width: 400px;
    top: 30px;
}

#reservation {
    position: relative;
    background-color: #ffb31a;
    border-color: #ffaa00;
    border-radius: 15px;
    width: 400px;
    height: 600px;
    top: 30px;
}

.heading2 {
    text-align: center;
    color: #558000;
}

.dataSelection {
    padding-left: 15px;
}

label {
    line-height: 4px;
    font-weight: bold;
    color:  #77b300;
}

#textarea {
    width: 250px;
}

/*.calendar*/
.ui-datepicker-trigger {  
        width: 25px;
    height: 25px;
    cursor: pointer;
}

.showMe {
    display: none;
    position: absolute;
    top: 310px;
    left: 450px;
    width: 834px;
    height: 566px;
}

#first {
    display: block;
} 

#arrowLeft, #arrowRight {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#arrowLeft {
    display: none;
    position: absolute;
    top: 600px;
    left: 425px;
}

#arrowRight {
    position: absolute;
    top: 600px;
    left: 1300px;
}

.horses{
    border: 3px double #86592d;
    margin: 40px;
    border-radius: 15px;
    padding: 15px;
    background-color: #ffb31a;
} 

#checkHorseRideDate{
    position: relative;
    padding-bottom: 10px;
    padding-right: 10px;
}

.showHorse {
    position: relative;
    left: 450px;
    display: none;
    width: 380px;
    height: 350px;
}

#borderDesign {
    position:relative;
    left:-230px;
    width: 600px;
    border: 2px double #86592d;
    border-radius: 15px;
    background-image: url(/image/back_image.jpg);
    background-repeat: no-repeat;
}

#age{
    display: none;
    margin: 15px; 
}

.legend {
    font-weight: bold;
    color: #558000;
}

.button {
    background-color: #77b300; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

.button, .button.disabled:hover {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    border:1px solid #558000; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center; 
    color: #FFFFFF; 
    background-color: #77b300;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669900), color-stop(100%, #558000));
    background-image: -webkit-linear-gradient(top, #669900, #558000);
    background-image: -moz-linear-gradient(top, #669900, #558000);
    background-image: -ms-linear-gradient(top, #669900, #558000);
    background-image: -o-linear-gradient(top, #669900, #558000);
    background-image: linear-gradient(top, #669900, #558000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#669900, endColorstr=#558000);
}

.button:hover{
    border:1px solid #558000;
    background-color: #558000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009933), color-stop(100%, #006622));
    background-image: -webkit-linear-gradient(top, #009933, #006622);
    background-image: -moz-linear-gradient(top, #009933, #006622b);
    background-image: -ms-linear-gradient(top, #009933, #006622);
    background-image: -o-linear-gradient(top, #009933, #006622);
    background-image: linear-gradient(top, #009933, #006622b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#009933, endColorstr=#006622);
}

#salesTime {
    position: absolute;
    height: 350px;
    width: 800px;
    top: 420px;
    left: 465px;
    background-image: url(/image/sales.jpg);
    display: block;
    z-index: 100;
    cursor: pointer;
}

#escPoint{
    position: relative;
    height: 20px;
    width: 20px;
    top: 362px;
    left: 1222px;
    background-image: url(/image/sales.jpg);
    display: block;
    z-index: 100;
    cursor: pointer;
}

.closingDays{
    position: relative;
    display: none;
}

.closingDays.ui-widget.ui-widget-content {
    border: 1px solid  #cc2900;
}

.closingDays.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 5px;
}

.closingDays.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 5px;
}

.closingDays.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 5px;
}

.closingDays.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 5px;
}

.closingDays.ui-widget-content{
    border: 1px solid  #cc2900;
    background-image: url(/image/background_closingDay.jpg);
    color: #0086b3;
}

.navbar-inverse { 
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: 70px;
    color: white;
}


.nav.navbar-nav{
    display: inline-flex;
    list-style-type: none;
}

li.nav.navbar-nav {
    display: list-item;
    text-align: -webkit-match-parent;
    border: 10px;
}

ul.nav.navbar-nav.navbar-right{
    position: relative;
    top: 5px;
    left: 850px;
}

#logoCascina{
    position: relative;
    top: 40px;
}

ul.nav.navbar-nav.navbar-right li{
    margin: 10px;
}

ul.nav.navbar-nav{
    position: relative;
    top: 5px;
    left: 200px;
}

ul.nav.navbar-nav li a, .navbar-brand{
    margin: 10px;
    color: white;
}

 .availableHorseRide{
    position: relative;
    left: 500px;
    width: 600px;
}

#checkHorseRideDate{
    position: relative;
    left: 500px;
    width: 1000px;
}

#submitDay{
    position: relative;
    left: -226px;
}